* {
  box-sizing: border-box;
}

#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
  color: #505050;
  background-color: #ddd;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Shadows Into Light", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.2em;
}

.canvas-wrapper {
  position: fixed;
  top: 0;
}

.info {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 1rem 2rem;
  width: clamp(23%, 50%, 35%);
  background-color: rgba(255, 255, 255, 0.8);
}

.page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.page-wrapper * {
  pointer-events: all;
}
.page-wrapper .loading {
  text-align: center;
  margin: auto;
}
.page-wrapper .page-one {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  margin: auto;
  max-width: 66%;
}
.page-wrapper .page-one ol, .page-wrapper .page-one ul {
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1px;
}
.page-wrapper .page-two {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  max-width: 33%;
}
.page-wrapper .page-two h1 {
  font-size: 2rem;
}
.page-wrapper .page-three {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  max-width: 50%;
}
.page-wrapper .page-three h1 {
  font-size: 2rem;
}
.page-wrapper .page-three textarea {
  font-family: "Shadows Into Light", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  border: none;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}
.page-wrapper .page-four {
  display: none;
}

button {
  width: auto;
  min-width: 17ch;
  border: none;
  padding: 0.4rem 0.8rem;
  margin: 1rem;
  text-decoration: none;
  background-color: #00A36B;
  color: #ECFCF1;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 1.3rem;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover, button:focus {
  transform: scale(1.02, 1.02) translateY(-1px);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}
button:focus {
  box-shadow: 0px 0px 12px 5px yellow;
  outline: none;
}
button:active {
  background: #00ca9e;
}

.canvas-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}
.canvas-controls button {
  width: auto;
  background-color: #000;
  color: #fff;
  border: none;
}
.canvas-controls button.btn__destructive {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: #d30000;
  border: none;
}
.canvas-controls button.btn__destructive:hover {
  background-color: red;
  color: white;
}
.canvas-controls button:hover {
  background-color: #333;
}

.h-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}